// STILL NEED TO SET UP SCSS, copy and paste for now

// colors
$orange: #FAB675;
$dark-blue: #779CF5;
$light-blue: #8FE6FA;
$red: #F77F80;
$green: #3CCD70;

// greys
$white: #FFFFFF;
$off-white: #FBFBFB;
$light-grey: #C2C2C2;
$grey: #B6B6B6;
$dark-grey: #424647;

// weights 300, 400, 600
$font: "'Source Sans Pro', sans-serif";
