#header {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  width: 100%;
  background-color: rgb(60, 205, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

#header h1 {
  padding: 3px 15px;
}

#header img {
  height: 35px;
  width: auto;
  color: #3CCD70;
}

#header i {
  padding: 10px 15px;
  font-size: 200%;
}

#header i:hover {
  cursor: pointer;
}

#header h1:hover {
  cursor: pointer;
}
