body{overflow: visible !important;}

.profile-info-container{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background-color: #020202;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
}

.profile-top{
  background: black;
  opacity: 1;
  width: 100%;
  height: 200px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.recharts-surface {
  width: 100%;
}

.recharts-wrapper{
  margin: 0;
}

.user-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-name h1{
  display: inline-block;
}

.profile-chart{
  height: 120;
  margin-top: 10px;
  width: 230;
  align-content: center;
  display: flex;
  justify-content: center;
}

.recharts-wrapper{
  margin-left: 28px;
}

.toggle-side{
  position: absolute;
  top: 7px;
  right: 0;
  height: 30px;
  width: 30px;
  /*display: inline-block;*/
  display: none;
}

.toggle-side i{
  opacity: 1;
  color: grey;
}


.genetic-info-container{
  background: black;
  position: relative;
  top: 50px;
}

.ethnicity-container-0,
.ethnicity-container-1,
.ethnicity-container-2,
.ethnicity-container-3,
.ethnicity-container-4,
.ethnicity-container-5,
.ethnicity-container-6,{
  width:100%;
}

.ethnicity-name{
  height: 60px;
  width: 100%;
  background: -webkit-linear-gradient(#242424, #191919); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#242424, #191919); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#242424, #191919); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#242424, #191919);
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  align-items: center;
  position: relative;
  opacity: 1;
}


.ethnicity-container-0{
  color: #8FE6FA;
}

.ethnicity-container-1{
  color: #F77F80;
}

.ethnicity-container-2{
  color: #FAB675;
}

.ethnicity-container-3{
  color: #3CCD70;
}

.ethnicity-container-4{
  color: #779CF5;
}

.ethnicity-container-5{
  color: #FAB675;
}

.ethnicity-container-6{
  color: #8FE6FA;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: #fff;
}


.percent:nth-child(1){
  color: #8FE6FA;
}

.percent:nth-child(2) {
  color: #F77F80;
}

.percent:nth-child(3){
  color: #FAB675;
}

.percent:nth-child(4){
  color: #3CCD70;
}

.percent:nth-child(5){
  color: #779CF5;
}

.percent:nth-child(6){
  color: #FAB675;
}

.percent:nth-child(7){
  color: #8FE6FA;
}
