#home {
  height: 100%;
}

#home-img {
  position: relative;
  height: 100%;
  width: auto;
  background-image: url("https://source.unsplash.com/JuKbaozIo0k/2736x1824");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.typewriter {
  display: flex;
  justify-content: center;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 110px;
}

.typewriter span {
  font-weight: 600;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typewriter h1 {
  font-weight: 300;
	border-right: .1em solid #3CCD70;
	/*width: 16.5em;*/
	width: 12ch;
	white-space: nowrap;
	overflow: hidden;
  letter-spacing: .7px;
	-webkit-animation: typing 2s steps(30, end),
	           blink-caret .5s step-end infinite alternate;
}

#see-more {
  width: 100%;
}

#see-more i {
  width: 100%;
  position: absolute;
  bottom: 20px;
  font-size: 150%;
  text-align: center;
}

#see-more p {
  width: 100%;
  position: absolute;
  bottom: 50px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  text-align:center;
}

#ethnicity-form-container {
  padding-bottom: 100px;
  background: #424647;

  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

#ethnicity-form-container h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 200%;
}

#ethnicity-form {
  padding-top: 40px;
  text-align: center;
}

#ethnicity-form-percent {
  width: 40px;
  height: 25px;
  border-bottom: 2px solid #3CCD70;
  font-size: 120%;
  margin-right: 5px;
}

#ethnicity-form span {
  margin-right: 30px;
  font-size: 120%;
}

#ethnicities-dropdown {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 100%;
  margin-right: 30px;
}

#ethnicities-dropdown:hover {
  cursor: pointer;
}

.fa-plus-circle {
  color: #3CCD70;
  font-size: 130%;
}

.fa-plus-circle:hover {
  cursor: pointer;
}
